$base-color: #54B689;
$white-color: #FFF;
$font-color: #4f4f4f;
$black-color: #171616;

body {
  color: $font-color;
}

.ui.inverted.menu, .ui.vertical.menu {
  background: transparent;
}

.main-header {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 280px;
  background: $base-color;
  color: $white-color;
  overflow-y: auto;

  .main-header--wrapper {
    padding: 50px 20px;
    text-align: center;

    .main-segment {
      margin: 20px 0px;
    }

    .header--name {
      font-size: 1.5rem;
      font-weight: 700;
      color: #FFF;
    }

    .circle-image {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      position: relative;
      overflow: hidden;
      margin: 0px auto;

      .image {
        position: absolute;
        top: 40px;
        left: -20px;
        transform: scale(1.6);
      }
    }

    .list-icon {
      .icon {
        background-color: $white-color;
        color: $base-color;
      }
    }

    .ui.text.menu {
      margin: 50px 0px;
      text-align: left;
      margin-left: 10%;

      .item {
        font-size: 1.2rem;
        font-weight: 700;
        color: $white-color;
        line-height: 1.2rem;

        &.active, &:hover {
          color: rgba(0,0,0,0.5);
          font-weight: 700;
        }
      }
    }
  }

}

.main-wrapper {
  margin-left: 280px;
  background:#fafafa;
  padding: 60px;

  .person-section {
    .person-section--title {
      font-size: 3rem;
      font-weight: 700;
    }
    .person-section--subtitle {
      font-size: 1.5rem;
      font-weight: 300;
    }
    .person-section--description {
      font-size: 1.2rem;
      line-height: 1.6rem;
      margin: 20px 0px;
    }
    .person-section--links {

    }
  }

  .profile-image {
    text-align: center;
  }

  .section-segment {
    // margin: 50px 0px;
    
    .header--section-title {
      font-size: 2rem;
      padding-left: 1.5rem;
      position: relative;
      color: $black-color;
      margin: 30px 0px;

      &::before {
        content: "";
        display: inline-block;
        width: 5px;
        height: 100%;
        background: $base-color;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .main-segment--shortdescription {
      font-size: 1.2rem;
      line-height: 1.6rem;
      margin: 20px 0px 50px 0px;
    }

    .grid--code {
      .column-icon {
        width: 20px;
        height: 20px;
      }
      .column-title {
        font-size: 1.2rem;
        font-weight: 700;
        margin: 15px 0px;
        color: $black-color;
      }
      .column-desc {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 50px;
        color: $black-color;
      }
    }

    .ui {
      .column--item-featured {
        border: 1px solid #ccc;
        border-radius: .2rem;
        background-color: $white-color;
        padding: 20px;
        display: flex;
        align-items: flex-start;

        &.image-top {
          display: block;

          .image {
            width: 100%;
          }
        }

        .card {
            padding: 0px;
            box-shadow: none;
            margin: 0px;

            .content {
              padding: 5px;
            }
        }
      }
    }
  }
}