// $base-color: #54B689;
$base-color: #1f88be;
$white-color: #FFF;
$font-color: #4f4f4f;
$black-color: #171616;

body {
  color: $font-color;

  .ui.no-padding, .ui.no-margin {
    padding: 0px;
    margin: 0px;
  }

  .ui.wid100 {
    width: 100%;
  }

  // .ui.inverted.menu, .ui.vertical.menu {
  //   background: transparent;
  // }
}

.ui.menu.top-menu {
  background-color: $base-color;
  display: none;

  @media (max-width: 1145px) {
    display: block;
  }
}

.main-header {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 280px;
  background: $base-color;
  color: $white-color;
  overflow-y: auto;
  z-index: 999;
  transition: transform .5s ease;
  
  @media (max-width: 1145px) {
    transform: translate3d(-100%,0,0);
    position: fixed;
    left: -280px;
  }
  &.active {
    transform: translate3d(0,0,0);
    position: fixed;
    left: 0px;
  }

  .main-header--wrapper {
    padding: 30px 20px;
    text-align: center;

    .main-segment {
      margin: 20px 0px;
    }

    .header--name {
      font-size: 1.5rem;
      font-weight: 700;
      color: #FFF;
    }

    .circle-image {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      position: relative;
      overflow: hidden;
      margin: 0px auto;

      .image {
        position: absolute;
        top: 40px;
        left: -20px;
        transform: scale(1.6);
      }
    }

    .list-icon {
      .icon {
        background-color: $white-color;
        color: $base-color;
      }
    }

    .ui.text.menu {
      margin: 30px 0px;
      text-align: left;
      margin-left: 10%;

      .item {
        font-size: 1.2rem;
        font-weight: 700;
        color: $white-color;
        line-height: 1.2rem;

        &.active, &:hover {
          color: rgba(0,0,0,0.5);
          font-weight: 700;
        }
      }

      &.contact--section {
        .header.item {
          text-transform: none;
          font-size: 1.2rem;
        }
        .item {
          white-space: nowrap; 
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 1.1rem;
        }
      }
    }
  }

}

.main-wrapper {
  margin-left: 280px;
  background:#fafafa;
  position: relative;
  transition: transform .5s ease;

  .pusher {
    padding: 40px;
    
    @media (max-width: 590px) {
      padding: 40px 15px;
    }
  }

  @media (max-width: 1145px) {
    margin-left: 0px;
  }
  &.active {
    transform: translate3d(280px,0,0);
    position: absolute;
    // margin-left: 280px;

    .pusher {
      &::after {
        width: 100%!important;
        height: 100%!important;
        opacity: 1!important;
        position: fixed;
        top: 0;
        right: 0;
        content: '';
        background-color: rgba(0,0,0,.4);
        overflow: hidden;
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
        will-change: opacity;
        z-index: 1000;
      }
    }
  }



  .person-section {
    .person-section--title {
      font-size: 3rem;
      font-weight: 700;
    }
    .person-section--subtitle {
      font-size: 1.5rem;
      font-weight: 300;
    }
    .person-section--description {
      font-size: 1.2rem;
      line-height: 1.6rem;
      margin: 20px 0px;
    }
    .person-section--links {

    }
  }

  .profile-image {
    text-align: center;
  }

  .section-segment {
    // margin: 50px 0px;
    
    .header--section-title {
      font-size: 2rem;
      padding-left: 1.5rem;
      position: relative;
      color: $black-color;
      margin: 30px 0px;

      &::before {
        content: "";
        display: inline-block;
        width: 5px;
        height: 100%;
        background: $base-color;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .main-segment--shortdescription {
      font-size: 1.2rem;
      line-height: 1.6rem;
      margin: 20px 0px 50px 0px;
    }

    .grid--code {
      .column-icon {
        width: 20px;
        height: 20px;
        display: flex;

        .icon {
          margin-right: 15px;
        }

        .js {
          color: #F1DE4F;
        }
        .vuejs {
          color: #64B687;
        }
        .react {
          color: #62D4FA;
        }
        .php {
          color: #777BAF;
        }
        .npm {
          color: #BB443E;
        }
        .gulp {
          color: #C9514E;
        }
        .grunt {
          color: #EFAC42;
        }
        .html5 {
          color: #DE6E3C;
        }
        .css3 {
          color: #53A7DC;
        }
        .sass {
          color: #BF6B97;
        }
        .less {
          color: #324B7C;
        }
        .python {
          color: #456E9C;
        }
        .ionic {
          width: 35px;
          height: 35px;
        }
      }
      .column-title {
        font-size: 1.2rem;
        font-weight: 700;
        margin: 15px 0px;
        color: $black-color;
      }
      .column-desc {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 50px;
        color: $black-color;
      }
    }

    .ui {
      .column--item-featured {
        border: 1px solid #ccc;
        border-radius: .2rem;
        background-color: $white-color;
        padding: 20px;
        display: flex;
        align-items: flex-start;

        @media (max-width: 500px) {
          display: block;
        }

        &.image-top {
          display: block;

          .image {
            width: 100%;
          }
        }

        .card {
            padding: 0px;
            box-shadow: none;
            margin: 0px;

            .content {
              padding: 5px;
            }
        }
      }
    }
  }

  .footer {
    margin-top: 50px;
    font-size: 1.1rem;
    color: $font-color;
    text-align: center;

    a {
      color: $base-color
    }
  }
}